### Begin /etc/my.cnf

# The following options will be passed to all MySQL clients
[client]
#password       = your_password
port            = 3306
socket          = /run/mysqld/mysqld.sock
# this variable below is deprecated from mysql 5.0 and shouldn't be enabled
# default-character-set=utf8

# The MySQL server
[mysqld]
bind-address    = 127.0.0.1
#bind-address    = 192.168.0.160
port            = 3306
socket          = /run/mysqld/mysqld.sock
datadir         = /srv/mysql
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
sort_buffer_size = 512K
net_buffer_length = 16K
myisam_sort_buffer_size = 8M

# Don't listen on a TCP/IP port at all.
#skip-networking

# required unique id between 1 and 2^32 - 1
server-id       = 1

# Uncomment the following if you are using BDB tables
#bdb_cache_size = 4M
#bdb_max_lock = 10000

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir = /srv/mysql
#innodb_data_file_path = ibdata1:10M:autoextend
#innodb_log_group_home_dir = /srv/mysql
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
#innodb_buffer_pool_size = 16M
#innodb_additional_mem_pool_size = 2M
# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size = 5M
#innodb_log_buffer_size = 8M
#innodb_flush_log_at_trx_commit = 1
#innodb_lock_wait_timeout = 50

# don't waste time to check domain name's validity
skip-name-resolv=1

# charset utf8
# --- my earier settings ---
#collation-server = utf8_unicode_ci
#init-connect='SET NAMES utf8'
#character-set-server = utf8
# --- utf8 settings begin ---
init_connect=‘SET collation_connection = utf8_unicode_ci’
init_connect=
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake
# --- utf8 settings end ---

# explicitly set the path of the error log file
log_error = /srv/mysql/error.log

# enable binary log files
log_bin = /srv/mysql/mariadb-bin

# if you turn on general_log
# every query MariaDB receives will produce a record in specified log file
# don't uncomment this unless you want to find performance bottleneck out
general_log = 1
general_log_file = /srv/mysql/general.log

# use slow_query_log to find the queries that spent too much time
slow_query_log=1
slow_query_log_file=/srv/mysql/mariadb-slow.log
long_query_time=0.05
log_slow_rate_limit=30
log_slow_verbosity=query_plan,innodb,explain

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
# this variable below is deprecated from mysql 5.0 and shouldn't be enabled
# default-character-set=utf8

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

# End /etc/my.cnf
